indent_style = tab
end_of_line = lf
insert_final_newline = true
tab_width = 2
charset = utf-8
trim_trailing_whitespace = true


# el tipo de indentado será de tabulación
# el salto de línea será lf
# al final de cada archivo se introduzca un salto de línea automaticamente
# el ancho de la tabulación será igual a 2 veces tab
# el tipo de charset utf-8 para poder introducir carácteres especiales
# si dejamos un espacio al final de cada línea nos lo va a quitar