h1 {
    color: red;
    font-size: 4rem;
}

p {
    color: black;
    font-size: 2rem;
}


/* Tipos de media: "all", "screen", "print", "speech" */

/* Si quiero usar max-width, debo ordenarlos de mayor a menor, ya que sino se sobrescriben */
@media (max-width: 995px) {
    h1 {
        color: blue;
        font-size: 3.5rem;
    }

    p {
        color: red;
        font-size: 2.5rem;
    }
}


@media (max-width: 576px), (min-width: 1100px) {
    h1 {
        color: green;
        font-size: 3rem;
    }

    p {
        color: orange;
        font-size: 2rem;
    }
}

/* Si pienso en mobile first debo usar min-width */


/* media queries con landscape o screen */
/* @media (orientation: landscape) and (min-height: 400px) {
    p {
        font-weight: bold;
    }
} */