body {
    padding: 20px;
    margin: 0;
}

/* Optimización de código */
.escenario {
    margin: 10px 0px;
    border: 1px solid #ccc;
    padding: 10px;
}

.escenario-1 {
    
    width: 100%;
}

.escenario-2 {
    width: 50%;
}

/* Pixeles: unidad fija */
.px {
    background-color: green;
    width: 200px;
}

/* Porcentaje: unidad relativa, hace referencia al elemento padre*/
.porcentaje {
    background-color: red;
    width: 50%;
}

/* Viewport: unidad relativa, en relación al ancho de la pantalla */
.view {
    background-color: yellow;
    width: 50vw;
}

/* No es conveniente utilizar pixeles y viewport ya que no termina de ser responsive */
/* Diseño responsive, trata de un diseño amigable a cualquier tipo de pantalla */
/* Diseño responsive no se trata solo de adaptar los distintos tamaños de pantalla, sino crear una experiencia destinada a ese dispositivo en concreto */
/* No tener en cuenta solo el tamaño, sino la experiencia completa */

