:root {
    --color-principal: rgb(165, 76, 28);
    --width-principal: 650px
}

.title {
    color: var(--color-principal);
}

.footer {
    color: var(--color-principal);
}

.container {
    background-color: antiquewhite;
    padding: 1rem;
    width: var(--width-principal);
}