.seccion {
    background-color: darkslategrey;
    padding: 1rem;
    margin: 1rem;
}

.parrafo {
    background-color: white;
    padding: 1rem;
}

.parrafo.dragging {
    opacity: 0.3;
}

.imagen-fantasma {
    width: 150px;
    height: 150px;
    background-color: brown;
    position: absolute;
    left: -100vw
}