/* .!important evitar en la medida de lo posible.*/
/* Estilo en línea */
/* (1, 0, 0) ID */
/* (0, 1, 0) Clase*/
/* (0, 0, 1) Elemento*/
/* (0, 0, 0) */

h1#h1-id\ h1-id2.h1-clase {
    color: chocolate;
}

.h1-clase {
    color: yellow;
}

h1 {
    color: blue !important;
}


p {
    color: red;
}