.color {
    color:blueviolet
}

.colorHex {
    color: #fd827a
}

.colorRGB {
    color: rgb(62, 121, 171);
}

.colorRGBA {
    color: rgba(48, 197, 147, 0.355);
}

.fondo {
    width: 600px;
    height: 400px;
    background-color: #fd827a;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('https://w0.peakpx.com/wallpaper/932/282/HD-wallpaper-anime-ranking-of-kings-bojji-ranking-of-kings.jpg');
}

/* Tamaños */

.ancho {
    background-color: #fd829b;
    width: fit-content;
}

.altura {
    background-color: #aa829b;
    height: 50px;
}